<%- include('partials/header'); -%>

  <header>
    <div class="loader hidden">
      <img src="Rolling.gif" style="height: 50px; width: 50px" />
    </div>
    <div class="smoothie">
      <img class="newImage" src="/newdoubt.png" alt="" />
    </div>
    <div class="headings">
      <h2 style="margin-left: 60px;">CPP-Guide</h2>
      <h3 style="margin-left: 60px">Ask your question any time!</h3>
      <a href="/smoothies" class="btn new" style="margin-left: 70px">
        View Questions >>
      </a>
    </div>
  </header>

  <%- include('partials/footer'); -%>